In [2]:
print ("hi")

hi

In [1]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [ ]:
#upper 소문자->대문자
#lower 대문자->소문자

In [2]:
a= [1,2,3,['a','b','c']]
a[-1][1]

'b'

In [3]:
a= [1,2,3]
a.append('a')
print(a)

[1, 2, 3, 'a']

In [9]:
t1=(1,2,3)
t2=(4,)
t1+t2

(1, 2, 3, 4)

In [14]:
a={1:'hi'}
a[2]='bye'
a
a['name']='jisung'
a
del a[1]
a

{2: 'bye', 'name': 'jisung'}

In [16]:
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.keys()
a.items()

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [17]:
dic ={'name':'홍길동', 'birth':1128, 'age':30}
dic

{'name': '홍길동', 'birth': 1128, 'age': 30}